﻿@charset "utf-8";
/* CSS Document */

/*be common use*/
.container {
    background-color: lightskyblue;
    margin:auto;
}
#title1 {
    background-color: #CCF;
}
#title2 {   
    line-height: 60px;
    font-size:70px;
}

#nav1 {
    background-color:lightgreen;
    line-height:30px;
    font-size:20px;
}
select{
    margin:auto;
    height:35px;
    width:60%;
}
#search {   
    margin:2% 5% 0;
}
.dropdown-menu li{
    font-size:20px;
}

div.gallery {
    margin: 10% 5%;
    border: 1px solid black;
    width: 90%;
    font-size:20px;
}

div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    text-align: center;
    font-size:30px;
}
footer {
    background-color: gray;
    height: 40px;
    font-size: 15px;
    line-height: 35px;
    color: white;
    clear: both;
    text-align:center;
}

#backtop a { /* back to top button */
    position: fixed;
    bottom: 10px;
    right: 7%;
    color: white;
    z-index: 1000;
    background: #ff6a00;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: normal;
    text-decoration: none !important;
}

    #backtop a:hover {
        background: #b200ff;
        color: white;
    }


/*house page use*/
.icon{
    float:right;
    margin:-10px;
}
.print{
    float:right;
    margin:-10px 5px;
}
.print:hover{
    cursor:pointer;
}
.carousel-inner img {
    width: 50%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h1 {
    color: red !important;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

table {
    border:0; width:100%; border-collapse:collapse;
}

td {
    width: 40%;
}
#p1 {
    font-size: 18px;
    text-indent: 50px;
}

#nav2{
    font-size:20px;
    margin:20px 0;
}

.con{
    border:1px solid black;
    padding:20px;
    width:35%;
    float:left;
    margin:20px 50px;
}
/* for aboutus*/
.us {
    font-size: 20px;
    margin:auto;
    padding:20px;
}
.us h2 {
    color: red;    
}
    .us a {       
        font-size: 20px;
    }
    .us p {
        text-indent: 50px;
    }
.cm{
    float:left;
    margin:0 50px 50px 0;
}


